.logo img {
    width: 164px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, Helvetica, Arial, Lucida, sans-serif;
    font-size: 14px;
    background-color: #f6f6f6;
    border: 1px solid #e5e5e5;
    padding: 8px 16px 8px 16px;
    margin: 0px 44px;
    gap: 363px;
}

.right ul {
    display: flex;
    gap: 34px;

}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.down li {
    display: flex;
    background-color: #ffd741;
    width: 113px;
    height: 37px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;

}

.right ul li span {
    padding: 0 5px;
}

.halka {
    background-color: #ffd741;
    border-style: solid;
    padding-left: .7em;
    font-size: 12px;
    border: 2px;
    border-color: #ffd741;

}

.main {
    margin: 50
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 80px;
}

.hero-text {
  width: 45%;
}

.hero-image {
  width: 55%;
  display: flex;
  justify-content: flex-end; 
}

.hero-image img {
  max-width: 100%;
}


button.dabba2 {

    cursor: pointer;
}

button.dabba1 {
    cursor: pointer;
}

button.halka {
    cursor: pointer;
    background-color: #fffdf5;
    border: 2px solid #ffd741;
    width: 200px;
    height: 30px;
    border-radius: 4px;
    font-family: Inter, Helvetica, Arial, Lucida, sans-serif;
}

nav ul div.globe {
    gap: 20px;
    display: flex;

}

nav ul div.spac {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-200px);
}
div.hero-text h1{
    font-family: Inter, Helvetica, Arial, Lucida, sans-serif;
    font-size: 50px;
    text-align: left;
    line-height: 1.1em; 
    margin-bottom: 20px;

}
div.hero-text p{
    font-family: Inter, Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    text-align: left;
    margin-bottom: 30px;
    color: rgb(72, 72, 72);
}
button.dabba1{
    background-color: #ffd741;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-family: Inter, Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #000000;
}
button.dabba2{
    background-color: #f2f0ec;
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 4px;
    font-family: Inter, Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #000000;
    margin-left: 20px;
    transform: translateY(-10px);
}